

body{
    font-family: 'Roboto Slab', serif;
}

section{
    height: 500px;
    /* background-color: yellowgreen; */
    border: solid black 1px;
}

.hero{
    /* background-color:rgba(3, 7, 15, 0.603); */
    height: 100vh;
    font-size: 30px;
    color: rgb(232, 220, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    height: 100px;
    background-color: rgb(42, 151, 165);
}
header{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    /* width: 500px; */
    justify-content: space-around;
    font-size: 1.25rem;
}

ul.show{
    display: block;
}

li{
    margin-left: 12px ;
    margin-right: 20px;
}

h1{
    font-size: 40px;
    margin:0;
}
p{
    margin:0;
    font-weight: 600;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content:flex-end;
    align-items: center;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position:center ;
}

.hero-text{
    margin-left: 40px;
    margin-bottom: 100px;
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: darkgray;
    font-size: 30px;
    text-align: center;
    padding-top:5px;
    margin-top: 20px;
}

.button:hover{
    background-color: darkorange;
}

.button:active{
    background-color: darkred;
    color: darkviolet;
}

.socials{
    display: flex;
    flex-direction: row-reverse;
   /* padding-bottom: 200px;  */
   padding-right: 2%;
   /* align-self: flex-start; */
}

.sub-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}

h2{
    font-size: 50px ;
}

.information{
    width:575px;
}

.headshot-container{
    width: 300px;
}
.headshot{
    max-width: 300px;
    height:auto;
    border-radius:150px;
}
/* project size and form */
.project-card{
    width: 200px;
    height:300px;
    border: 1px solid black ;
    box-shadow: 5px 5px 5px rgb(0, 76, 255);
    margin-top: 20px;
}


.project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projector{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.project-image{
    margin-top: 30px;
    width: 100px;
    border-radius: 25px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.footinfo{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 25px;
}

@media only screen and (max-width: 880px) {
    .project-container {
      display:flex;
      flex-wrap: wrap;
    }
    /* .hero-area {
        width: fit-content;
        height: fit-content;


    } */
  }

